html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1213px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -20px;
}

#pu69
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u69
{
	z-index: 2;
	width: 1000px;
	border-style: none;
	border-color: transparent;
	background-color: #CE2483;
	padding-bottom: 128px;
	position: relative;
	margin-right: -10000px;
}

#u74-4
{
	z-index: 3;
	width: 207px;
	min-height: 85px;
	color: #FFFFFF;
	line-height: 1.75;
	font-size: 48px;
	font-family: alice, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 120px;
}

#u93-4
{
	z-index: 11;
	width: 28px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 1.75;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 332px;
}

#u104
{
	z-index: 15;
	width: 269px;
	border-width: 1px;
	border-style: solid;
	border-color: #E675B4;
	background-color: #DB4699;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 610px;
}

#u104.MuseLinkActive
{
	width: 269px;
	min-height: 0px;
	margin: 133px -10000px 0px 0px;
}

#u105-6
{
	z-index: 16;
	width: 240px;
	min-height: 49px;
	text-align: center;
	line-height: 1.75;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 14px;
}

#u105-2
{
	font-size: 18px;
	color: #FFFFFF;
}

#u105-4
{
	font-size: 10px;
	color: #EDBED8;
}

#u91-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	width: 189px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 129px;
}

#u218
{
	z-index: 117;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	right: 0px;
}

#pu108
{
	width: 0.01px;
	margin-left: 144px;
	margin-top: 15px;
	position: relative;
}

#u108
{
	z-index: 23;
	width: 80px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u110
{
	z-index: 24;
	width: 160px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u112
{
	z-index: 25;
	width: 160px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u114
{
	z-index: 26;
	width: 160px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 450px;
}

#pamphletu116
{
	z-index: 27;
	width: 0.01px;
	height: 162px;
	padding-bottom: 158px;
	margin-top: 14px;
	position: relative;
}

#u126
{
	position: absolute;
	width: 645px;
}

#u126popup
{
	z-index: 28;
}

#u127
{
	z-index: 29;
	width: 645px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
	margin-right: -10000px;
	position: relative;
}

#u189
{
	z-index: 30;
	width: 480px;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u128-7
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	width: 167px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 20px;
}

#u137
{
	z-index: 39;
	width: 645px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
	margin-right: -10000px;
	position: relative;
}

#u195
{
	z-index: 40;
	width: 480px;
	position: relative;
	margin-right: -10000px;
}

#u194-7
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	width: 168px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 458px;
}

#u132
{
	z-index: 49;
	width: 645px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
	margin-right: -10000px;
	position: relative;
}

#u200
{
	z-index: 50;
	width: 480px;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u206-7
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	width: 173px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 20px;
}

#u117
{
	z-index: 59;
	width: 145px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 655px;
}

#u120
{
	position: absolute;
	width: 155px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
	top: -7px;
	left: -10px;
}

#u120:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u121-4
{
	z-index: 61;
	width: 145px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u120:hover #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u120:active #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u120:hover #u121-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u120:active #u121-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u120.PamphletThumbSelected #u121-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u122
{
	position: absolute;
	width: 155px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
	top: 33px;
	left: -10px;
}

#u122:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u123-4
{
	z-index: 66;
	width: 145px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 10px;
}

#u122:hover #u123-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u122:active #u123-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u122.PamphletThumbSelected #u123-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u122:hover #u123-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u122:active #u123-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u118
{
	position: absolute;
	width: 155px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
	top: 73px;
	left: -10px;
}

#u118:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u120.PamphletThumbSelected,#u122.PamphletThumbSelected,#u118.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
	margin: 0px;
}

#u119-4
{
	z-index: 71;
	width: 145px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u120.PamphletThumbSelected #u121-4,#u118:hover #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u118:active #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u118.PamphletThumbSelected #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u118:hover #u119-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u118:active #u119-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u122.PamphletThumbSelected #u123-4 p,#u118.PamphletThumbSelected #u119-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u106
{
	z-index: 22;
	width: 1000px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: #DDDDDD;
	position: relative;
	left: -100px;
	top: -320px;
	margin-bottom: -320px;
}

#u207
{
	z-index: 75;
	width: 1000px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
	left: -100px;
}

#u216-8
{
	z-index: 86;
	width: 399px;
	min-height: 258px;
	line-height: 1.75;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 120px;
}

#u216-2,#u216-3,#u216-5
{
	font-size: 12px;
	color: #2B2B2B;
}

#u217-23
{
	z-index: 94;
	width: 334px;
	min-height: 242px;
	color: #2B2B2B;
	line-height: 1.75;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 546px;
}

#u217-2
{
	font-size: 14px;
}

#u217-3,#u217-5,#u217-7,#u217-9,#u217-11,#u217-13,#u217-15,#u217-17,#u217-19,#u217-21
{
	font-size: 12px;
}

#u220-12
{
	z-index: 118;
	width: 760px;
	min-height: 147px;
	line-height: 1.75;
	margin-left: 20px;
	margin-top: 19px;
	position: relative;
}

#u220-2
{
	font-size: 12px;
	color: #565656;
	font-family: alice, serif;
	font-weight: 400;
}

#u220-3,#u220-5,#u220-6
{
	font-size: 10px;
	color: #7F7F7F;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u220-10
{
	font-size: 10px;
	color: #7F7F7F;
	font-family: alice, serif;
	font-weight: 400;
}

#u220-8
{
	color: #29BFFF;
}

#pu209
{
	width: 0.01px;
	left: -100px;
	margin-top: 29px;
	position: relative;
}

#u209
{
	z-index: 76;
	width: 1000px;
	border-style: none;
	border-color: transparent;
	background-color: #CE2483;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
}

#u69_align_to_page,#u207_align_to_page,#u209_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
	left: -100px;
}

#u210-4
{
	z-index: 77;
	position: relative;
	width: 112px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 444px;
}

#u210-4_img
{
	display: block;
	vertical-align: top;
}

#u211-5
{
	z-index: 81;
	width: 93px;
	min-height: 19px;
	text-align: center;
	line-height: 1.75;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Kozuka Gothic Pr6N B;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 454px;
}

#u211
{
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

body
{
	padding-top: 20px;
	padding-bottom: 20px;
}

