Source: chinachu
Section: video
Priority: optional
Maintainer: soburi <soburi@gmail.com>
Build-Depends: debhelper (>= 9.0.0), quilt
Standards-Version: 3.9.5
Homepage: http://chinachu.akkar.in/
Vcs-Git: git://github.com/kanreisa/Chinachu.git
Vcs-Browser: https://github.com/kanreisa/Chinachu.git

Package: chinachu
Architecture: all
Depends: ${misc:Depends}, adduser, nodejs, npm, libjs-prototype, libjs-flagrate, libjs-ace, libav-tools, procps
Suggests: recpt1, epgdump
Description: World most cute TV recording system.
 Chinachu is the EPG recording reservation management system
 for digital broadcast program work with Linux.
