#!/usr/bin/make -f
# -*- makefile -*-

basedir = $(CURDIR)/debian/chinachu

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_install:
	dh_install -Xprototype.js \
		   -Xweb/lib/ace \
		   -Xweb/lib/flagrate
	mkdir -p -m 744 $(basedir)/etc/chinachu/
	install -m 600 debian/config.maintainer.json $(basedir)/etc/chinachu/config.json
#	ln -s /usr/share/chinachu/web/lib/ace/LICENSE $(basedir)/usr/share/doc/chinachu/LICENSE.ace
#	ln -s /usr/share/chinachu/web/lib/flagrate/LICENSE $(basedir)/usr/share/doc/chinachu/LICENSE.fragrate
	find $(basedir)/usr/share/chinachu/web -type f | xargs chmod a-x

override_dh_installinit:
	dh_installinit -pchinachu --name chinachu-operator
	dh_installinit -pchinachu --name chinachu-wui

%:
	dh $@ --with quilt

